<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Viewer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body>



<script type="text/javascript">

    var module = angular.module('myApp', [])
    .controller('MyCtrl', ['$scope',function($scope) {
        $scope.source = '';
        $scope.items = [];
        $scope.parse = function () {
            $scope.items = [];
            angular.forEach(angular.fromJson($scope.source), function (item) {
                angular.forEach(item.results, function (result) {
                    $scope.items.push(result);
                });
            });
        };
    }]);
</script>
<div ng-controller="MyCtrl">
    <label>source</label>
    <textarea ng-model="source" ng-change="parse()"></textarea>
    <button ng-click="parse()">Parse</button>
    <table>
        <tr ng-repeat="item in items track by $index">
            <td>
                <span ng-bind="item.created_at"/>
            </td>
            <td>
                <span ng-bind="item.code"/>
            </td>
            <td>
                <span ng-bind="item.state"/>
            </td>
            <td>
                <span ng-bind="item.commission"/>
            </td>
            <td>
                <span ng-bind="item.meter_fare"/>
            </td>
            <td>
                <span ng-bind="item.total"/>
            </td>
            <td>
                <span ng-bind="item.promo_code"/>
            </td>
        </tr>
    </table>
</div>

</body>
</html>